#app,
html,
body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
}

#SignInOverlay {
    position: relative;
    z-index: 2000;
}

#profile-overlay,
#map-overlay {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 1000;
    margin-right: 15px;
    padding: 8px 20px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
}

#profile-overlay h4,
#map-overlay h4 {
  margin: 0 0 5px;
  color: #777;
}

#create-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#create-button:active {
  background-color: #45a049;
}

#remove-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#remove-button:active {
  background-color: #d32f2f;
}

#update-button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#update-button:active {
  background-color: #1976d2;
}

.popup-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: auto;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup-open {
  opacity: 1;
}
